<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--选择数据库-->
  <configSections>
    <section name="repositoryMappingsConfiguration" type="Notify.DbCommon.Configuration.RepositorySettings,Notify.DbCommon,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <!--mysql-->
      <!--<repositoryMapping interfaceShortTypeName="IDbFactory" repositoryFullTypeName="Notify.MysqlDbFactory.MysqlFactory,Notify.MysqlDbFactory,Version=1.0.0.0,Cultur=neutral,PublicKeyToken=null"/>-->
      <!--sqlserver-->
      <repositoryMapping interfaceShortTypeName="IDbFactory" repositoryFullTypeName="Notify.SqlServerDbFactory.SqlServerFactory,Notify.SqlServerDbFactory,Version=1.0.0.0,Cultur=neutral,PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>

  <!--数据库链接-->
  <connectionStrings>
    <add name="SqlDB" connectionString="Data Source = 720-JSB-PC20\MSSQLSERVER2014;Network Library = DBMSSOCN;Initial Catalog = DB;User ID = sa;Password = sqlpass;" providerName="System.Data.SqlClient" />
    <add name="MySqlDB" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=DB;charset=utf8; AllowUserVariables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>