<div  style="position:relative;font-size:14px;height:auto;padding:15px 15px 10px 15px;z-index:1;zoom:1;line-height:1.7;">
    <div >
        <div >
            <span>[AccountName]，你好：</span>
            <div  style="margin-left:50px;">
                <p> 感谢你注册Notify(<a href="javascript:void();" target="_blank">www.notifycn.com</a>)
                </p>
                <p> 您的验证码为: <a href="javascript:void();">[Code]</a>
                </p>
                <p>你的Notify帐号是: <a href="javascript:void();">[Account]</a></p>
            </div>
            <div style="margin-left:280px;">
                <p>
                    Notify<br/>
                    <span >[SendDateTime]</span>
                </p>
            </div>
        </div>
    </div>
</div>