<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Notify</title>
    <script src="~/Content/Scripts/tools/jquery-1.11.3.js"></script>
    <script src="~/Content/Scripts/tools/layer-v2.0/layer/layer.js"></script>
    <link href="~/Content/Scripts/tools/jquery-easyui-1.4.3/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Scripts/tools/jquery-easyui-1.4.3/themes/icon.css" rel="stylesheet"/>
    <script src="~/Content/Scripts/tools/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
    <script src="~/Content/Scripts/tools/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/Scripts/widget/common.js"></script>
    @RenderSection("Header", false)
</head>
<body>
    @RenderBody()
</body>
</html>
@RenderSection("Footer", false)