@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="clockon" class="easyui-panel" title="时间"
     style="width: 100%; height: 150px; padding: 10px; background: #fafafa;"
     data-options="iconCls:'icon-ok',closable:false,collapsible:false,
                collapsible:false,minimizable:false,maximizable:false">
    <p id="bgclock"></p>
</div>
<div style="height:10px;"></div>
<div id="loginInfo" class="easyui-panel" title="登录信息"
     style="width: 100%; height: 150px; padding: 10px; background: #fafafa;"
     data-options="iconCls:'icon-ok',closable:false,collapsible:false,
                collapsible:false,minimizable:false,maximizable:false">
    <p>panel content.</p>
    <p>panel content.</p>
</div>
<div style="height:10px;"></div>
<div id="log" class="easyui-panel" title="日志"
     style="width: 100%; height: 150px; padding: 10px; background: #fafafa;"
     data-options="iconCls:'icon-ok',closable:false,collapsible:false,
                collapsible:false,minimizable:false,maximizable:false">
    <p>暂无</p>
</div>
<div style="height:10px;"></div>
<div id="updateContent" class="easyui-panel" title="更新内容"
     style="width: 100%; height: 150px; padding: 10px; background: #fafafa;"
     data-options="iconCls:'icon-ok',closable:false,collapsible:false,
                collapsible:false,minimizable:false,maximizable:false">
    <p>暂无</p>
</div>
